extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  p The following routes can be used:
  ul
    li
      p <b>GET /login</b>
        <br/>display login form
    li
      p <b>POST /login</b>
        <br/>body values (application/x-www-form-urlencoded) : username , password
        <br/>attempt to login using values from the form
        <br/><b>mandatory for booking, managing profile or messaging</b>
    li
      p <b>GET /search</b>
        <br/>to search for all houses use
    li
      p <b>GET /search/<i>city</i>?xxx</b>
        <br/>to search for all houses from a specific city
        <br/>Avaible query strings are (all integers) : beds(number of beds), priceMin (minimum price), priceMax(maximum price)
    li
      p <b>GET /search/<i>city</i>/<i>startDate</i>/<i>endDate</i>?xxx</b>
        <br/>to search for all houses from a specific city avaible between the specified dates
        <br/>Avaible query strings are (all integers) : beds(number of beds), priceMin (minimum price), priceMax(maximum price)
    li
      p <b>POST /book/<i>id</i>/<i>startDate</i>/<i>endDate</i></b> books the specified house id for the given dates
    li
      p <b>POST /send/to/subject/message</b>
        <br/>to send an email
        <br/>to = email that will receive the emails
        <br/>subject = subject of the email
        <br/>message = text content of the email
    li
      p <b>GET /users/<i>userid</i></b>
        <br/>get user infos
        <br/><i>userid</i> is the user's ID
    li
      p <b>GET /users/<i>userid</i>/<i>information</i></b>
        <br/><i>userid</i> is the user's ID
        <br/><i>information</i> can be lastname, firstname, email...
    li
      p <b>PATCH /users/<i>userid</i>/<i>information</i></b>
        <br/>body value (application/x-www-form-urlencoded) : value
        <br/><i>userid</i> is the user's ID
        <br/><i>information</i> can be lastname, firstname, email...
    li
      p <b>GET /messages</b>
        <br/>page where you can have a form to send real-time messages and view all the messages in real-time
    li
      p <b>POST /messages/<i>message</i></b>
        <br/><i>message</i> is the message you want to send
      
