extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  p The following routes can be used:
  ul
    li
      p <b>/login</b> (mandatory for booking, managing profile or messaging)
    li
      p <b>/search</b> to search for all houses use 
    li
      p <b>/search/city?xxx</b> to search for all houses from a specific city
        |<br/>Avaible query strings are (all integers) : beds(number of beds), priceMin (minimum price), priceMax(maximum price)
    li
      p <b>/search/city/startDate/endDate?xxx</b> to search for all houses from a specific city avaible between the specified dates
        |<br/>Avaible query strings are (all integers) : beds(number of beds), priceMin (minimum price), priceMax(maximum price)
    li
      p <b>/book/id/startDate/endDate</b> books the specified house id for the given dates
    li
      p messaging ???
